/* CIT 230 - Assignment Portal CSS Template */
/* You may use #HEX or color names */

/* * is a wildcard referring to all elements. */
* { margin: 0; box-sizing: border-box; } 


body { 
    background-color: #bbb
}
    font-size: 16px; 
    line-height: 32px;
    font-family: /* montserrat, sans-serif */;
    color: /* #xxxxxx */;
}
header {
    margin: 10px auto;
    background-color: #fff;
    border: 1px solid #bbb;
    box-shadow: 0 0 30px #777;
    text-align: center;
}

header img, .headings {
	display: inline-block;
	vertical-align: middle;
	margin: 10px;
}
header h1 {
    color: #0076bb;
}

h2 {
    font-size: /* x.xrem */;
    text-align: center;
    border-bottom: 1px solid #bbb;
}

header, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: /* xxxpx (px = pixel is a unit of measure)  */;
}

header, footer, footer a {
    text-align: center;
    background-color: /* */;
    color: whitesmoke;
}

header img {
    width: /*  */;
    height: auto;
    float: right;
}

footer {
    font-size: /* smaller */;
}